/*Name this external file gallery.css*/
body{
    margin: 2%;
    border: 1px solid #c38d9e;
    background-color: #E8A87C;
}
#image{
    line-height:650px;
    width: 575px;
    height: 650px;
    border:5px solid black;
    margin:0 auto;
    background-color: #85dcb7;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}
.preview{
    width:15%;
    margin-left: 0 auto;
    border: 10px solid #41b3a3;
}
img{
    width:100%;
    height: 100%;
}

@media screen and (min-width: 300px)
{
    body{background-color: red;}
}
@media screen and (min-width: 600px){
    body{background-color: blue;}
}
@media screen and (min-width: 900px){
    body{background-color: green;}
}